
# Server port
PORT=5000

# SQLite database path
DB_PATH=./data/hope_physician.db

# Nodemailer email credentials
EMAIL_USER=hopephysician90@gmail.com
EMAIL_PASS='outu iexx yeca yarc'     # the 16-char app password

# JWT secret for admin authentication
JWT_SECRET=yourSuperSecretKey

GOOGLE_APPLICATION_CREDENTIALS="../hope-physicians-firebase-adminsdk-fbsvc-1fe194e078.jsonhope-physicians-firebase-adminsdk-fbsvc-1fe194e078.json"